.lt_btn{
    font-size: 0.625rem;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.home_location .lt_btn{
    visibility: hidden;    
}

.home_location:hover .lt_btn{
    visibility: visible;    
}

.home_location .row{
    border-top: 1px dotted white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 49px;
}

.lt_btn_big{
    font-size: 0.875rem;
    font-weight: 700;
    border: 2px solid #F6C711;
    border-radius: 20px;
    text-align: center;
    padding: 10px 5px;
}

.lt_btn_big i{
    font-size: 0.875rem;
}

.lt_btn:hover,
.lt_btn_big:hover{
    border: 2px solid white;
    color: #1063af;
    background-color: white;
}

.lt_btn:hover i,
.lt_btn_big:hover i,
.lt_btn_big:hover .sp_text,
.lt_btn_big:hover .en_text{
    color: #1063af;
}

.mtm{
    margin-top: -35px;
}


/* home location checkbox */

.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 12px;
    margin: 0px 5px;
  }
  .radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #fff;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
  }
  .radio:hover .label:after {
    transform: scale(3.6);
  }
  input[type="radio"]:checked + .label {
    border-color: #fff;
  }
  input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
  }

  .hidden {
    display: none;
  }
  .credit {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
  }
  .credit img {
    width: 72px;
  }
  .credit:hover {
    transform: scale(0.95);
  }
  /* home location checkbox */

  .service_img{
      width: 30%;
  }

div.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 110px !important;
}

#locations .card{
    border: none;
}

#locations .card-header{
    background-color: white;
}

.location_num{
    width:25px;
    min-width:25px;
    height:25px;
    box-sizing: border-box;
    padding: 3px 5px;
    border-radius: 15px;
    text-align: center;
    float: left;
    margin-top: 2px;
}

.home_white_btn{
  background-color: white;
  border:2px solid white;
  color: #00a3c8 !important;
  font-size: 17px;
  border-radius: 5px;
  padding: 15px 40px;
}

.home_white_btn:hover{
  background-color: #00a3c8;
  color: white !important;
}

.footer-link a{
  color: white !important;
  font-size: 18px;
  text-decoration: none;
}

.footer-link:hover a{
  text-decoration: underline;
}

.after_label {
  width: 150px;
  position: relative;
  background: #d3426c;
  color: white;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 7px;
  border-radius: 0px 15px 15px 0px;
}

.headertop_left {
  width: auto;
  float: left;
  padding-left: 15px;
}

.headertop_right {
  float: right;
  text-align: right;
  padding-right: 15px;
}

.headertop_right a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 13px;
  float: right;
}

.headertop_right a:hover {
  background-color: #272B37;
}

.headertop_right a.facebookicon:hover {
  background-color: #3b5998;
  color: #fff;
}

.headertop_right a.twittericon:hover {
  background-color: #55acee;
  color: #fff;
}

.headertop_right a.linkedinicon:hover {
  background-color: #0077b5;
  color: #fff;
}

.headertop_right a.googleicon:hover {
  background-color: #dd4b39;
  color: #fff;
}

.telehealth-count-text{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.telehealth-count{
  background-color: #832342;
  color: #fff;
  padding: 2px 10px;
  font-size: 35px;
  border-radius: 5px;
}

.green_background{
  background-color: #2DA411;
}

.fast{
  color: #2DA411;
}

.short{
  color: #C0DC23;
}

.slow{
  color: #DCB323;
}

.slowest{
  color: #DC2323;
}

.bb-grey{
  border-bottom: 1px solid #e0e0e0;
}

.b300{
  font-weight: 300;
}

.b400{
  font-weight: 400;
}

.b600{
  font-weight: 600;
}

.b700{
  font-weight: 700;
}

.font10{
  font-size: 10px !important;
}

.font12{
  font-size: 12px !important;
}

.font13{
  font-size: 13px !important;
}

.font14{
  font-size: 14px !important;
}

.font15{
  font-size: 15px !important;
}

.font16{
  font-size: 16px !important;
}

.font17{
  font-size: 17px !important;
}

.font18{
  font-size: 18px !important;
}

.font20{
  font-size: 20px !important;
}

.font22{
  font-size: 22px !important;
}

.font24{
  font-size: 24px !important;
}

.font26{
  font-size: 26px !important;
}

.font30{
  font-size: 30px !important;
}

.font45{
  font-size: 45px !important;
}

.lh2{
  line-height: 2;
}

.br-5{
  border-radius: 5px;
}

.app-num{
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 35px;
  font-weight: 600;
  padding: 3px 0px;
  text-align: center;
  color: #fff;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 20px;
}

.yellow-num{
  background-color: #F6C711 !important;
}

.purple-num{
  background-color: #8B4AEA !important;
}

.orange-num{
  background-color: #e17055 !important;
}

.light-blue-num{
  background-color: #42b9ff !important;
}

.option-box{
  border-width: 4px;
  border-style: solid;
  border-radius: 25px;
}

.yellow-border{
  border-color: #F6C711;
}

.purple-border{
  border-color: #8B4AEA;
}

.orange-border{
  border-color: #e17055;
}

.light-blue-border{
  border-color: #42b9ff;
}

.option-body{
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.appointment-red-button{
  background-color: #d3426c;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  color: #F4F4F4;
  font-size: 18px;
  cursor: pointer;
  width: 220px;
  margin: 8px auto;
}

.appointment-messenger-button{
  background-color: #0080ff;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;  
  width: 210px;
  margin: 5px auto;
  cursor: pointer;
}

.grey_background{
  background-color: #F4F4F4;
}

.grey_background a{
  color: #d3426c;
}

.yellow_background{
  background-color: #F6C711 !important;
}

.black{
  color: #000000;
}

@media only screen and (min-width: 760px) and (max-width: 959px){
  .option-body{
    height: auto;
  }

  .appointment-container{
    margin-top: 150px;
  }
}

@media only screen and (max-width: 760px){
  .option-body{
    height: auto;
  }

  .appointment-container{
    margin-top: 150px;
  }
}