.white{
    color: white;
} 

.purple_background{
    background-color: purple;
}

.purple{
    color: purple;
}

.light_blue{
    color: #00a3c8;
}

.light_blue_background{
    background-color: #00a3c8;
}

.yellow{
    color: #F6C711 !important;
}

.dark_blue{
    color: #1063af;
}