*{
    font-size: 16px;
}

.font-s4{
    font-size: 0.5rem !important;
}

.font-s3{
    font-size: 0.625rem !important;
}

.font-s2{
    font-size: 0.75rem !important;
}

.font-s1{
    font-size: 0.875rem !important;
}

.font-b1{
    font-size: 1.125rem !important;
}

.font-b2{
    font-size: 1.25rem !important;
}

.font-b3{
    font-size: 1.375rem !important;
}

.font-b4{
    font-size: 1.5rem !important;
}

.font-b5{
    font-size: 1.625rem !important;
}

.font-b6{
    font-size: 1.75rem !important;
}

.font-b7{
    font-size: 1.875rem !important;
}

.font-b8{
    font-size: 2rem !important;
}

.font-b9{
    font-size: 2rem !important;
}

.font-b10{
    font-size: 2.25rem !important;
}

.font-b11{
    font-size: 2.5rem !important;
}

.font-b12{
    font-size: 2.75rem !important;
}

.font-b13{
    font-size: 3rem !important;
}

.font-b14{
    font-size: 3.5rem !important;
}

.font-b15{
    font-size: 4rem !important;
}

.font-b16{
    font-size: 5rem !important;
}

.b300{
    font-weight: 300;
}

.b400{
    font-weight: 400;
}

.b500{
    font-weight: 500;
}

.b600{
    font-weight: 600;
}

.b700{
    font-weight: 700;
}